---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="Games | Page not found">
    <div class="page">
        <h1>Page Not Found</h1>
        <a href="/" class="button"> Go to the menu </a>
    </div>
</BaseLayout>

<style>
    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        min-height: 100dvh;
    }
</style>
