---
import "~/reset.css";

interface Props {
    title?: string;
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />

        <title>{Astro.props.title || "Games"}</title>
    </head>
    <body>
        <slot />

        <footer class="links">
            <p>
                Made by <a target="_blank" href="https://github.com/moaqz">
                    moaqz
                </a>
            </p>

            <a target="_blank" href="https://github.com/moaqz/games">
                Source
            </a>
        </footer>
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "Press Start 2P";
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src:
            url(https://cdn.jsdelivr.net/fontsource/fonts/press-start-2p@latest/latin-400-normal.woff2)
                format("woff2"),
            url(https://cdn.jsdelivr.net/fontsource/fonts/press-start-2p@latest/latin-400-normal.woff)
                format("woff");
        unicode-range:
            U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
            U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
            U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    :root {
        --bg: #3e3546;
        --card-bg: #625565;
        --card-border: #3e3546;
        --button-bg: #694f62;
        --input-bg: #2e222f;
        --input-border: #3e3546;
        --tx: #ffffff;
        --tx2: #a198a9;
        --warning-tx: #f79617;
    }

    body {
        color: var(--tx);
        background-color: var(--bg);
        font-family: "Press Start 2P", system-ui;
        min-height: 100dvh;
        cursor: crosshair;
    }

    .links {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    a:not([class]) {
        transition: color 0.2s ease;
        cursor: crosshair;

        &:hover {
            color: var(--tx2);
        }
    }

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        height: 2.5rem;
        background-color: var(--button-bg);
        color: var(--tx);
        border: 1px solid transparent;
        cursor: inherit;
        transition: opacity 0.2s ease;
        padding-inline: 0.75rem;

        &:hover,
        &:disabled {
            opacity: 0.5;
        }
    }
</style>

<script>
    const selectAudio = new Audio("/audio/switch_001.ogg");
    const confirmAudio = new Audio("/audio/click_002.ogg");

    document.querySelectorAll("select").forEach((select) => {
        select.addEventListener("change", () => {
            selectAudio.currentTime = 0;
            selectAudio.play();
        });
    });

    document.querySelectorAll("button").forEach((button) => {
        button.addEventListener("click", () => {
            confirmAudio.currentTime = 0;
            confirmAudio.play();
        });
    });
</script>
